
  form label {
    /* display:block;  */
    margin: 5px;
    width: 20%
  }
  form input={
    /* display:block;  */
    margin: 5px;
    width: 20%

  }
  .ErrorMessage {
    color:red;
    /* float: left;   */
  }
  
  .reg{
      color: brown;
  }