@media(min-width: 200px)
{
*
{
    margin: auto;
    padding: 5px;
    
}
.ErrorMessage{
    color: red;
}
.registerForm{
    color: aqua;
}
.register{
   
    width: 250px;
   
    background-color: gainsboro;
    text-align: center;
}
/* .container
{
    
    border: black solid;
    height: 600px;
    width: 950px;
    background-color:darkgray;
} */
body{
    /* background-color: darksalmon; */
    background-image: url(wp37411.jpg);
}
}