.shoppingCardPaper {
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
  min-width: 400px;
  min-height: 500px;
  background-color: silver;
}
.firstPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fundooNotes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 200px;
  max-height: 50px;
  background-color: orange;
  border-radius: 15px;
}
