.mainContainer{
   
    position: static;
    margin: 50px;
    padding: 10px;
    height: 60%;
    width: 50%;
    right: 50px;
    left:50px;
    border:2px solid burlywood;
}
.subContainer1
{
   margin: 0;
    height: 70%;
    width: 70%;
    border:2px solid springgreen;
}
.ename22
{
    display: flex;
}
.mnumber22{
   
    display: inline-flex;
}
.pass22
{
    display: flex;
}
