.imageLogo
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:90px;
    margin:20px;
    padding:20px;
    border: 2px;
    

}
.accountCircleLogo
{
    justify-content: center;
}