.noteMain
{
    display: flex;
    flex-direction: column;
    width:100%;
    color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
}
.noteLogo
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
}
.addNote
{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}