.mainContainerForgot {
  display: flex;
  justify-content: center;
}
.paperForgot {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin: 10%;
  padding-top: 0%;
  flex-direction: column;
  justify-content: flex-end;
}
