.mainContainerR {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f1f1f1;
  margin: 5% 30%;
  padding: 5%;
  background-color: silver;
}
.containerR {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registerButtonR {
  display: flex;
  width: auto;
  padding: 10px 50px;
  background-color: #3682f4;
  border: none;
}
.buttonssR {
  display: flex;
  justify-content: center;
}
.alreadyRegister{
    text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
