.mainContainerReset {
  display: flex;
  justify-content: center;
}
.paperReset {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin: 10%;
  padding-top: 0%;
  flex-direction: column;
}
