@media(min-width: 768px) {


.ErrorMessage{
    color: red;
}
.containerforgot
{
    width: 450px;
    position: absolute;
    text-align: center;
    top: 15%;
    left:30%;
    background-color: white;
    border: 2px silver solid;
    padding: 20px;
}
}