@media(min-width: 768px)
{
.container2
{
    width: 250px;
    position: absolute;
    text-align: center;
    top: 10%;
    left:30%;
    background-color: white;
    border: 2px silver solid;
    height: 50%;
    width:35%;
    padding: 25px;
   

}
.registerButton
{

    float: right;
    right: 100px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
}