.top {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: inherit;
  flex-wrap: wrap;
  min-height: 70vh;
  background-color: #256e8763;
  z-index: 9;
  border-radius: 20px;
  justify-content: flex-start;
  width: 800px;
  margin-left: 10%;
}
.chatscreen {
  height: 70%;
  background-color: #1225245c;
  border-radius: 20px;
  padding:10px
}
textarea {
  width: 97%;
  padding: 7px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
  min-height: 50px;
  border-radius: 15px;
}
textarea:focus {
  background-color: #ddd;
  outline: none;
}
.buttonChatBoard {
  width: 100%;
  height: 30px;
  border: none;
  color: black;
  background-color: #256e87;
  border-radius: 10px;
}
.buttonChatBoard:focus{
  outline: none;
}
.buttonChatBoard2 {
  width: 100%;
  height: 30px;
  border: none;
  color: black;
  background-color:#20484c;
  border-radius: 10px;
}
.labelChatBoard {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 3%;
  color: brown;
}
