.top {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: inherit;
  flex-wrap: wrap;
  height: 54vh;
  background-color: beige;
  z-index: 9;
  border-radius: 20px;
  justify-content: flex-start;
  width: 250px;
}
textarea {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  min-height: 100px;
}
textarea:focus {
  background-color: #ddd;
  outline: none;
}
.buttonChatBoard {
  width: 100%;
  height: 30px;
  border: none;
  color: green;
  background-color: chartreuse;
  border-radius: 10px;
}
.buttonChatBoard2 {
  width: 100%;
  height: 30px;
  border: none;
  color: black;
  background-color: grey;
  border-radius: 10px;
}
.labelChatBoard {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 3%;
  color: brown;
}
