.topContainerR {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/d/22/yoan-agostini-by-yoan-agostini-flat-design-background-minima.jpg");
}
.mainContainerR {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2% 30%;
  padding: 3%;
  background-color: rgba(66, 66, 66, 0.5);
  border-radius: 15px;
  
}
.containerR {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 
  box-sizing: border-box;
}
.registerButtonR {
  display: flex;
  width: auto;
  padding: 10px 50px;
  background-color: #4eb4c3;
  border: none;
  border-radius: 15px;
  text-shadow: 1px 0px 3px #ffffff;
}
.registerButtonR:focus{
  outline: none;
  background-color: #8fbfc5;

  
}
.buttonssR {
  display: flex;
  justify-content: center;
}
.alreadyRegister{
    text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: "Pacifico", cursive;
}
.ErrorMessage{
  font-size: 12px;
  color: red;
  /* text-align: center; */
  font-family: monospace;
  /* background-color: #ffffff; */
  width: fit-content;
  border-radius: 5px;
  align-self: center;
  padding: 2px 5px ;
  text-shadow: 1px 1px #f1f1f1
}
