@media(min-width: 768px) {
*
{
    padding: 2px;
}
.ErrorMessage{
    color: red;
}
.registerForm{
    color: aqua;
}
.forgot{
   
    width: 250px;
    position: absolute;
    text-align: center;
    top: 10%;
    left:40%;
    background-color: gainsboro;
}
}
